<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
  </button>
  <a href="/" style="text-decoration: none;color: white;">Little Linguist</a>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="iconMenu">
      <mat-icon>perm_identity</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  <button mat-menu-item routerLink="/help">Help page</button>
</mat-menu>

<mat-menu #iconMenu="matMenu">
  <button mat-menu-item routerLink="/parent">parent</button>
</mat-menu>