<h2 style="text-align: center;">Help Page</h2>
<div style="margin: 40px;">
    <h3>How to add New Categories:</h3>
    <p>If you want to add new Categories then go to the Parent Section and click on the Plus(+) icon and add new Categories.</p>
    <h3>How to add New Words of the Categories:</h3>
    <p>If you want to add new Words then go to the Parent Section, there are all Categories are showing there, click on the Categories in which you want to add more words and then click on the Plus(+) then add English word in English Input Field and Hebrew in Hebrew Inout Field and click Add button.</p>
    <h3>How to play Game:</h3>
    <p>If you want to play then click on the categories that you want to play then choose Matching game from the dropdown and click on the play, there are English words shown on the left and Hebrew on the right side, you have to choose the English word firs and then click on the Hebrew trasnlation.</p>
    <h3>How i track my performance:</h3>
    <p>If you want to check how much total points i got and how many games i played then go to Dashboard page and see your performance.</p>
</div>