:host {
  display: block;
}
.custom-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white !important;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.custom-button:hover {
  background-color: #45a049;
}